.comment {
    width: 100%;
    /* border: 2px solid greenyellow; */
    display: flex;
}

.inputContainer {
    width: 80%;
    height: 50px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}
.input{
    width: 80%;
    margin-left: 5px;
    border:none;
    background-color:transparent;
    outline: none;
    color: #999;

    color: #262626;
    font-size: inherit;
    
    max-height: 80px;
    padding: 0;
    resize: none;

}