.container {
    width: 95%;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-left: 2vh;
    box-sizing: border-box;
}
 .container::-webkit-scrollbar {
   display: none;
   }