.home {
    width: 935px;
    margin: 0 auto;
}

.posts{
    width: 66%
}

.profileSection{
    max-width: 293px;
    right: 0;
    width: 100%;
    position: fixed;
    top: 78px;
    left: 849px;
    height: 100vh;
}

.userProfile{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.name{
    text-align: left;
    text-transform: lowercase;
    margin-left: 10px;  
}

.recomendedRow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
}

.buttonWraper{
    height: 25
}

.link {
    text-decoration: none;
    color: black;
}

.wellcome {
    margin-top: 90px;
    width: 100%;
    height: 75vh;
    border: 1px solid #efefef;
    background-color: #FFFFFF;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.wellcomePic{
    width: 100%;
}

.adminProfile {
    display: flex;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: -90px;
}

@media only screen and (max-width: 600px) {
    .profileSection{
        width: 100%;
        position: static;
        margin: 0 auto;
        margin-top: 8vh;
        height: 30vh;
    }
    .home {
        width: 100%;
    }
    .posts{
        width: 100%;
        margin-top: 25vh;
    }
    .userProfile {
        margin-bottom: -1vh;
    }
}

@media screen and (max-width: 992px) and (min-width: 600px) {
    .profileSection{
        width: 100%;
        position: static;
        margin: 0 auto;
        margin-top: 9vh;
        height: 30vh;
    }
    .home {
        width: 100%;
    }
    .posts{
        width: 90%;
        margin: 0 auto;
        margin-top: 28vh;
    }
    .userProfile {
        margin-bottom: 0vh;
    }
}