.parentDiv {
    border:  2px solid #efefef;
    width: 55%;
    margin: 0 auto;
    background-color: white;
    border-radius: 1%;
}

.p {
    font-weight: bold;
    font-size: 1.5em;
}

.innerDiv {
    border-bottom: 2px solid #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 22vh;
}

.input {
    outline: none;
    border: 2px solid #E6E6E6;
    border-radius: 2%;
    background-color: #FAFAFA;
}

.innerDiv2 {
    border-bottom: 2px solid #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 31vh;
}
.shareButton {
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    outline: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    padding: 1vh 6vh;
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 5;}
}

.title {
    margin-top: 12vh;
    animation-name: show;
    animation-duration: 5s;
}

.divShitnq {
    border: 1px solid black;
}
.input {
    border: 1px solid #E6E6E6;
    background-color: #E6E6E6;
    outline: none;
    margin-bottom: 5vh;
    font-size: 1em;
    color: black;
    box-shadow: 0px 5px 35px 0px rgba(0,255,0,1);
}

.error {
    border: 1px solid #E6E6E6;
    background-color: #E6E6E6;
    outline: none;
    margin-bottom: 5vh;
    font-size: 1em;
    color: black;
    box-shadow: 0px 5px 35px 0px rgba(255,0,0,1);
}