.parrentContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4vh;
    padding-left: 2vh;
    box-sizing: border-box;
}

.nameContainer {
    height: inherit;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.name {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: lowercase;
    padding: 0;
    text-align: left;
    margin:auto 0;
}

.descContainer {
    height: inherit;
    box-sizing: border-box;
    flex-grow: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1vh;
    box-sizing: content-box;
}

.desc {
    font-size: 0.8em;
    padding: 0;
    margin: auto 0;
    text-align: left;
}

.link {
    text-decoration: none;
    color: black;
}