.parrentDiv {
    width: 40%;
    margin: 0 auto;
    margin-top: 15vh;
    display: flex;
    justify-content: space-between;
}

.userName {
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
    text-transform: lowercase;
}

.nameAndButtonDiv {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 60%;
}

.info {
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
    
}

.link {
    text-decoration: none;
    color: black;
}

.post {
    width: 30%;
    height: 45vh;
    margin-bottom: 3vh;
}

.buttonsContainer {
    width: 30%;
    margin: 0 auto;
    margin-top: 8vh;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .parrentDiv {
        width: 95%;
    }
    .nameAndButtonDiv {
        display: block;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1vh;
    }
    .buttonsContainer {
        width: 80%;
    }
    .userName {
        margin-bottom: 2vh;
    }
    .innerRing {
        position: static;
    }
    .ring {
        display: none;
    }
}

@media screen and (max-width: 992px) and (min-width: 600px) {
    .parrentDiv {
        width: 70%;
    }
    .nameAndButtonDiv {
        display: block;
    }
    .info {
        display: flex;
        justify-content: center;
        margin-top: 1vh;
    }
    .buttonsContainer {
        width: 60%;
    }
    .userName {
        margin-bottom: 2vh;
    }
    .innerRing {
        position: static;
    }
    .ring {
        display: none;
    }
}
