.post {
    width: 30%;
    height: 45vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.postHover {
    color: white;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}