.active{
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
    /* line-height: 18px; */
    padding: 0vh 6vh;
}

.notActive{
    background-color: #fff;
    border: 1px solid #dbdbdb;
    color: #262626;
}