.container{
    margin: 100px auto;
    width:935px;
    border: 1px solid #e6e6e6;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.title {
    animation-name: show;
    animation-duration: 6s;
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 5;}
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 992px) and (min-width: 600px) {
    .container {
        width: 100%;
    }
    .title{
        font-size: 1.2em;
    }
}