.dataDiv {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh 0;
}

.parentBox {
    width: 35%;
    border: 1px solid #E6E6E6;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vh;
    margin-bottom: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input {
    border: 1px solid #E6E6E6;
    background-color: #E6E6E6;
    outline: none;
    margin-bottom: 5vh;
    font-size: 1em;
    color: black;
    box-shadow: 0px 5px 35px 0px rgba(0,255,0,1);
}

.logo {
    width: 60%;
    margin: 0 auto;
}

.error {
    border: 1px solid #E6E6E6;
    background-color: #E6E6E6;
    outline: none;
    margin-bottom: 5vh;
    font-size: 1em;
    color: black;
    box-shadow: 0px 5px 35px 0px rgba(255,0,0,1);
}