.blackContainer{
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
    display: flex;
    align-items: center;

}
.postContainer {
    width: 935px;
    height: 600px;
    margin: auto;
    background-color:  white;
    display: flex;
}
.picContainer{
    width: 600px;
    height: 100%;
    background-size: cover;
    /* background-repeat: no-repeat; In case of diffrent sizes */
    background-position: center;
}
.postInfo {
    width: 335px;
    height: 100%;
    /* border: 2px solid green; */
}
.commentArea {
    margin: 0 auto;
    width: 95%;
    height: 300px;
    /* border: 2px solid blue */
}

@media only screen and (max-width: 600px) {
    .postContainer {
        width: 100%;
        height: 100%;
        margin: auto;
        background-color:  white;
        display: block;
    }
    .picContainer{
        width: 300px;
        height: 40%;
        margin: 0 auto;
    }
    .postInfo {
        width: 100%;
        height: 30%;
    }
    .commentArea {
        margin: 0 auto;
        width: 95%;
        height: 120px;
    }
}

@media screen and (max-width: 992px) and (min-width: 600px) {
    .postContainer {
        width: 100%;
        height: 600px;
        margin: auto;
        background-color:  white;
        display: flex;
    }
}