.blackContainer{
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
    display: flex;
    align-items: center;

}
.postContainer {
    width: 935px;
    height: 600px;
    margin: auto;
    background-color:  white;
    display: flex;
}
.picContainer{
    width: 600px;
    height: 100%;
    background-size: cover;
    /* background-repeat: no-repeat; In case of diffrent sizes */
    background-position: center;
}
.postInfo {
    width: 335px;
    height: 100%;
    /* border: 2px solid green; */
}
.commentArea {
    margin: 0 auto;
    width: 95%;
    height: 300px;
    /* border: 2px solid blue */
}